{% extends 'base.html.twig' %}

{% block title %} Modification Password {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modification Password</h1>

        {{form_start(form)}}
        {{form_widget(form)}}

        <button type="submit" class="btn btn-danger">Modifier</button>

        {{form_end(form)}}

    </div>
{% endblock %}